/*Style for the intensity of points*/
html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;

  line-height: 66px;
  color: #fff;

  background-color: $header-bg;
}

.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;
}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
 display: block;
 }

#div_basic_1{
    padding:16px;



}




/*Footer*/
footer {
    display: block;
}
/*Footer End*/